<h1>Hello, Rails!</h1>

<p> Welcome to the docker rails container. </p>

<p>
  Neo4j Browser can be found <a href="http://localhost:7474/browser/" target="_blank"> here </a>
</p>

<p>
  Movies can be found <a href="http://localhost:3000/movies/" target="_blank"> here </a>
</p>

<p>
  People can be found <a href="http://localhost:3000/people/" target="_blank"> here </a>
</p>
